
/* default opacity for IE */
img {
	filter:alpha(opacity=100);
	}

/* duplicate image positioning */
img.idupe {
	position: absolute;
	z-index:20000;
	visibility:hidden;
	zoom: 1;
	margin: 0px;
	padding: 0px;
}
